<header class="site-header">
    <h1 class="header-title">DENTAL HEALTH CLINIC</h1>
    <button class="navbar-toggler second-button" (click)="toggleNav()" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarToggleExternalContent10" aria-controls="navbarToggleExternalContent10"
        aria-expanded="false" aria-label="Toggle navigation">
        <div class="animated-icon2" [ngClass]="{ open: isOpen }"><span></span><span></span><span></span><span></span></div>
    </button>

    <nav class="navbar" [ngClass]="{ 'navbar-dispaly': isOpen }">
        <ul class="navigation">
            <li> <a (click)="scrollToElement('Services')" href="javascript:void(0);">Service</a></li>
            <li> <a (click)="scrollToElement('about')" href="javascript:void(0);">About</a></li>
            <li> <a (click)="scrollToElement('footer')" href="javascript:void(0);">Contact</a></li>
        </ul>
    </nav>
</header>


