<footer class="footer" id="footer">
    <div class="footer__container">
        <div class="footer__contact">
            <h3 class="footer__contact-heading">Contact</h3>
            <ul class="footer__contact-list">
                <li class="footer__contact-item">
                    <i class="fas fa-envelope"></i>
                    <span class="footer__contact-text">Shiddhrth Complex, Civil Line, Tikamgarh</span>
                </li>
                <li class="footer__contact-item">
                    <i class="fas fa-phone-alt"></i>
                    <span class="footer__contact-text">Madhya Pradesh 472001</span>
                </li>
                <!-- <li class="footer__contact-item">
                    <i class="fas fa-envelope"></i>
                    <span class="footer__contact-text">mailaddress</span>
                </li> -->

            </ul>
        </div>
        <div class="footer__hours">
            <h3 class="footer__hours-heading">Hours</h3>
            <table class="footer__hours-table">
                <thead>
                    <tr>
                        <th class="footer__hours-day">Day</th>
                        <th class="footer__hours-time">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="footer__hours-day">Monday</td>
                        <td class="footer__hours-time">7:30 am - 4:30 pm</td>
                    </tr>
                    <tr>
                        <td class="footer__hours-day">Tuesday</td>
                        <td class="footer__hours-time">7:30 am - 4:30 pm</td>
                    </tr>
                    <tr>
                        <td class="footer__hours-day">Wednesday</td>
                        <td class="footer__hours-time">7:30 am - 4:30 pm</td>
                    </tr>
                    <tr>
                        <td class="footer__hours-day">Thursday</td>
                        <td class="footer__hours-time">7:30 am - 4:30 pm</td>
                    </tr>
                    <tr>
                        <td class="footer__hours-day">Friday</td>
                        <td class="footer__hours-time">7:30 am - 2:00 pm</td>
                    </tr>
                    <tr>
                        <td class="footer__hours-day">Saturday</td>
                        <td class="footer__hours-time">Closed</td>
                    </tr>
                    <tr>
                        <td class="footer__hours-day">Sunday</td>
                        <td class="footer__hours-time">Closed</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="footer__getting-here">
            <h3 class="footer__getting-here-heading">Getting Here</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3623.0832539832027!2d78.83157075200378!3d24.758334490017642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39784f5756bddd43%3A0x826b0dc4cc642eb4!2sDENTAL%20HEALTH%20CLINIC!5e0!3m2!1sen!2sin!4v1712303291414!5m2!1sen!2sin" width="90%" height="90%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="footer__copyright">
        <p class="footer__copyright-text">
            Copyright © 2024 Dental Health Clinic
        </p>
        <p class="footer__copyright-text">
            All Rights Reserved | Privacy Policy
        </p>
    </div>
</footer>