<main>
    <section class="section-first">
      <img src="assets/images/section1view.webp" alt="background" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: 50% 50%;">
      <article class="sf-content">
        <h2>Achieve Your Perfect Smile</h2>
        <p>Experience comprehensive dental care with modern equipment and friendly professionals.</p>
        <a href="#" target="_blank" rel="noopener noreferrer"><button>Book Now</button></a>
        </article>

    </section>

    <section class="section-second" id="about">
      <!-- <img src="assets/images/section1view.webp" alt="background" srcset="" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: 50% 50%;"> -->
      <article class="sf-content">
        <h2>About us</h2>
        <p>Welcome to Dental Health Clinic, your trusted dental care provider in Sagar Division, MP. With a commitment to excellence and a focus on patient comfort, our experienced team is dedicated to delivering top-quality dental services tailored to your individual needs.</p>
          <br>
        <p>From routine check-ups to advanced treatments, we strive to create a welcoming and professional environment for all our patients. Your oral health is our priority, and we look forward to helping you achieve and maintain a beautiful, healthy smile.</p>
        
        </article>
        <article class="sf-content section2view">
          <img src="assets/images/section2view.webp" alt="" srcset="">
          </article>

    </section>

    <section class="section-third" id="Services">
     
        <h2>Services</h2>        

      <article class="sf-content"> 

      <div class="container">
        <div class="card">
          <img src="assets/images/Teeth Whitening Services.webp" alt="Image description">
          <div class="card-content">
            <h3>Teeth Whitening Services</h3>
            <!-- <p>Description</p> -->
            <a href="#">More Info</a>
          </div>
        </div>
        <div class="card">
          <img src="assets/images/Dental Implants.webp" alt="Image description">
          <div class="card-content">
            <h3>Dental Implants</h3>
            <!-- <p>Description</p> -->
            <a href="#">More Info</a>
          </div>
        </div>
        <div class="card">
          <img src="assets/images/Orthodontic Treatment.webp" alt="Image description">
          <div class="card-content">
            <h3>Orthodontic Treatment</h3>
            <!-- <p>Description</p> -->
            <a href="#">More Info</a>
          </div>
        </div>
        <div class="card">
          <img src="assets/images/Dental Check-ups.webp" alt="Image description">
          <div class="card-content">
            <h3>Dental Check-ups</h3>
            <!-- <p>Description</p> -->
            <a href="#">More Info</a>
          </div>
        </div>
        <div class="card">
          <img src="assets/images/Root Canal Therapy.webp" alt="Image description">
          <div class="card-content">
            <h3>Root Canal Therapy</h3>
            <!-- <p>Description</p> -->
            <a href="#">More Info</a>
          </div>
        </div>
        <div class="card">
          <img src="assets/images/Cosmetic Dentistry.webp" alt="Image description">
          <div class="card-content">
            <h3>Cosmetic Dentistry</h3>
            <!-- <p>Description</p> -->
            <a href="#">More Info</a>
          </div>
        </div>
        <div class="card">
          <img src="assets/images/section1view.webp" alt="Image description">
          <div class="card-content">
            <h3>Title</h3>
            <!-- <p>Description</p> -->
            <a href="#">More Info</a>
          </div>
        </div>
        <div class="card">
          <img src="assets/images/section1view.webp" alt="Image description">
          <div class="card-content">
            <h3>Title</h3>
            <!-- <p>Description</p> -->
            <a href="#">More Info</a>
          </div>
        </div>
      </div>
      
    </article>
    </section>

    <section class="section-fourth">
      <article class="sf-content">
        <div>
          <img src="assets/images/Olivia.webp" alt="" srcset="">
        </div>
        <p>Dental Health Clinic is phenomenal! Their dental services are exceptional and the staff is highly skilled and
          friendly. I was impressed by their attention to detail and the comfortable atmosphere. Thank you for providing such
          excellent dental care!</p>
          <p>- Olivia</p>
      </article>

    </section>
  </main>
